#root {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-wrapper input {
  border: 2px solid rgb(188, 188, 188);
}

.input-wrapper.valid input {
  border-color: #98e37e;
}

.input-wrapper.invalid input {
  border-color: #ef5050;
}

.input-wrapper .icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  right: -1.75rem;
}

.input-wrapper.valid .icon {
  background: url("./assets/icons/validInput.png") center no-repeat;
}

.input-wrapper.invalid .icon {
  background: url("./assets/icons/invalidInput.png") center no-repeat;
}

.home {
  background: url("assets/homeBackground.png") no-repeat center;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
