#root {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-wrapper input {
  border: 2px solid rgb(188, 188, 188);
}

.input-wrapper.valid input {
  border-color: #98e37e;
}

.input-wrapper.invalid input {
  border-color: #ef5050;
}

.input-wrapper .icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrapper.valid .icon {
  background: url("./assets/icons/validInput.png") center no-repeat;
  right: 0.75rem;
}

.input-wrapper.invalid .icon {
  background: url("./assets/icons/invalidInput.png") center no-repeat;
  right: -1.75rem;
}
